<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="dps-app-nuget" value="https://artifacts.appme.miele.com/artifactory/api/nuget/dps-app-nuget" />
    <add key="LocalNugets" value="C:\Users\Daniel\.nuget\packages" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="ApiGenerator" value="C:\Users\Daniel\source\repos\Orderlyze\Orderlyze.BuildTools\src\Orderlyze.BuildTools\bin\Debug" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SponsorConnect" value="https://sponsorconnect.dev/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="LocalNugets" value="true" />
    <add key="ApiGenerator" value="true" />
    <add key="Nuget" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="NuGet official package source" value="true" />
    <add key="unoplatformdev" value="true" />
    <add key="uno dev" value="true" />
    <add key="dps-app-nuget" value="true" />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="dps-app-nuget">
      <package pattern="Miele.*" />
      <package pattern="ZeroconfFork" />
      <package pattern="CP.Plugin.MediaManager*" />
      <package pattern="Plugin.MediaManager*" />
      <package pattern="Syncfusion.Maui.SignaturePad" />
      <package pattern="nor0x.Maui.ColorPicker" />
      <package pattern="ColorPicker.Maui" />
      <package pattern="SkiaSharp.Views.Maui.Controls" />
      <package pattern="Adobe.ACPAnalytics.Android" />
    </packageSource>
    <packageSource key="SponsorConnect">
      <package pattern="Prism*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <SponsorConnect>
      <add key="Username" value="Codelisk" />
      <add key="ClearTextPassword" value="6429de6ba9d54f7ca356c25e1c3eebc6" />
    </SponsorConnect>
  </packageSourceCredentials>
</configuration>